<a href="https://colab.research.google.com/github/rahul10-pu/Pandas-Practice/blob/master/in_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

simplest dataframe can be created in various ways as illustrated below:

In [0]:
import pandas as pd
# 1. Using list of dictionary
lst = [{"C1": 1, "C2": 2},
        {"C1": 5, "C2": 10, "C3": 20}]
# Observe NaN       
print(pd.DataFrame(lst, index = ["R1", "R2"]))
#     C1  C2    C3
# R1   1   2   NaN
# R2   5  10  20.0
# 2. Using dictionary
dc = {"C1": ["1", "3"],
        "C2": ["2","4"]}
print( pd.DataFrame(dc, index = ["R1", "R2"]) )
#    C1 C2
# R1  1  2
# R2  3  4
# 3. Using list
lst = [[52,32],[45,85]]
print(pd.DataFrame(lst, index = list('pq'), columns = list('ab')))
#     a   b
# p  52  32
# q  45  85

We can also have a heterogeneous dataframe in which different columns have different datatypes:

In [0]:
df = pd.DataFrame({'A': [10., 20.],
                    'B': "text",
                    'C': [2,60],
                    'D': 3+9j})
print(df)
#       A     B   C       D
# 0  10.0  text   2  (3+9j)
# 1  20.0  text  60  (3+9j)
print(df.dtypes)
# A       float64
# B        object
# C         int64
# D    complex128
# dtype: object

To reveal complete information about a given dataframe we use DataFrameName.info() command:

In [0]:
print(df.info())
# < class 'pandas.core.frame.DataFrame' >
# RangeIndex: 2 entries, 0 to 1
# Data columns (total 4 columns):
# A    2 non-null float64
# B    2 non-null object
# C    2 non-null int64
# D    2 non-null complex128
# dtypes: complex128(1), float64(1), int64(1), object(1)
# memory usage: 160.0+ bytes

we retrieve values of dataframe without labels and also try to retrieve the names of rows and columns individually:

In [0]:
print((df.index))   #index of rows
# RangeIndex(start=0, stop=2, step=1)
print(df.columns)   # index of columns
# Index(['A', 'B', 'C', 'D'], dtype='object')
print(df.values)    # display values of df
# [[10.0 'text' 2 (3+9j)]
#  [20.0 'text' 60 (3+9j)]]

Exercises:

In [18]:
#Given below is a DataFrame df:
import pandas as pd
df = pd.DataFrame([[0.23,'f1'],[5.36,'f2']],
                  index = list('pq'),
                    columns = list('ab'))

'''Do the following:

Change the column name from ' a' to ' A'.

Add a new column ' c' filled with random values.

Change the datatype of column ' A' values to complex.

Display rows whose any of the element matches with any element of the given list:
lst = ['f30','f50','f2','f0'] '''
df.head()
#df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'}, inplace=True)
df.rename(columns={'a': 'A'}, inplace=True)
df.head()

import numpy as np
df['c']=np.random.rand()
df.head()
df = df.astype({"A":complex})


lst = ['f30','f50','f2','f0']
print(df.loc[df['b'].isin(lst)])
df[df['b'].isin(lst)]

           A   b         c
q  (5.36+0j)  f2  0.165194

           A   b         c
q  (5.36+0j)  f2  0.165194

Quizz

In [21]:
import pandas as pd

df = pd.DataFrame([[54.2,'a'],[658,'d']],
                  index = list('pq'))
print(df.head())
df.columns = df.index
print(df.columns.values)
df.head()

       0  1
p   54.2  a
q  658.0  d
['p' 'q']

       p  q
p   54.2  a
q  658.0  d

Pandas can read and write a dataset in various formats like .xlsx, .csv, .html etc
Pandas automatically take values for the index as left extreme integers 0, 1, 2, 3, 4, ... and column as the topmost row because we have not explicitly assigned header while importing.

In [22]:
import pandas as pd
df = pd.DataFrame([[11, 202],
                    [33, 44]],
                    index = list('AB'),
                    columns = list('CD'))
''' Writing to excel file '''
df.to_excel('test_file.xlsx', sheet_name = 'Sheet1')
''' Reading from excel file '''
print(pd.read_excel('test_file.xlsx', 'Sheet1'))

    C    D
A  11  202
B  33   44

Exercise-2

In [0]:
import pandas as pd
df = pd.DataFrame([[18,10,5,11,-2],
                    [2,-2,9,-11,3],
                    [-4,6,-19,2,1],
                    [3,-14,1,-2,8],
                    [-2,2,4,6,13]],
                  index = list('pqrst'),
                    columns = list('abcde'))
#Filter all the two consecutive columns whose sum of individual elements is even. Finally, save these columns into a new dataframe named new_df and extract the dataframe in an excel file named file_df.xlsx under Sheet 1.

#Copy new_df dataframe into a new dataframe df_temp. Append a new column named as 'm' to the df_temp dataframe which defines the multiplication of each element in one row. Save this dataframe in Sheet 2 of file_df excel file.

# **Selection Method**

 **1. Selection by Position**
The .loc attribute is the governing parameter to select data by a label. Slicing is performed based on the label of the index.

In [0]:
import pandas as pd
df = pd.DataFrame([[15, 12],
                    [33, 54],
                    [10, 32]], 
                    index = list('ABC'),
                    columns = list('DE'))
print(df)
#     D   E
# A  15  12
# B  33  54
# C  10  32
print(df.loc[['A','C'],:])
#     D   E
# A  15  12
# C  10  32
print(df.loc[:,'E'])
# A    12
# B    54
# C    32
# Name: E, dtype: int64
print(df.loc['B', 'D'])
# 33

**2. Selection by Position**
Here, the .iloc attribute is the governing parameter to select data and slicing is performed based on the position.

In [0]:
import pandas as pd
df = pd.DataFrame([[15, 12],
                    [33, 54],
                    [10, 32]])
print(df)
#     0   1
# 0  15  12
# 1  33  54
# 2  10  32
print(df.iloc[0:2,:]) 
#     0   1
# 0  15  12
# 1  33  54
print(df.iloc[:,0:1])
#     0
# 0  15
# 1  33
# 2  10
print(df.iloc[:,:])
#     0   1
# 0  15  12
# 1  33  54
# 2  10  32

3. Selection Using Regular Expression

In [0]:
import pandas as pd
df = pd.DataFrame([[15, 12],
                    [33, 54],
                    [10, 32]], 
                    index = ['one','two','three'],
                    columns = ['col1', 'col2'])
print(df)
#        col1  col2
# one      15    12
# two      33    54
# three    10    32
print(df.filter(regex = 'e$', axis = 0))      # row name ending with 'e'
#        col1  col2
# one      15    12
# three    10    32
print(df.filter(regex = '^c', axis = 1))      # column name starting with 'c'
#        col1  col2
# one      15    12
# two      33    54
# three    10    32

**4. Boolean Indexing**

In [0]:
import pandas as pd
df = pd.DataFrame([[15, 12],
                    [33, 54],
                    [10, 32]])
print(df[df >= 15])
#       0     1
# 0  15.0   NaN
# 1  33.0  54.0
# 2   NaN  32.0