<a href="https://colab.research.google.com/github/rahul10-pu/Pandas-Practice/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
dict = {"": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

import pandas as pd
brics = pd.DataFrame(dict)
print(brics)

                   area    capital  population
0        Brazil   8.516   Brasilia      200.40
1        Russia  17.100     Moscow      143.50
2         India   3.286  New Dehli     1252.00
3         China   9.597    Beijing     1357.00
4  South Africa   1.221   Pretoria       52.98

In [0]:
brics.index = ["BR", "RU", "IN", "CH", "SA"]

# Print out brics with new index values
print(brics)

                    area    capital  population
BR        Brazil   8.516   Brasilia      200.40
RU        Russia  17.100     Moscow      143.50
IN         India   3.286  New Dehli     1252.00
CH         China   9.597    Beijing     1357.00
SA  South Africa   1.221   Pretoria       52.98

In [0]:
#single bracket with output a Pandas Series
print(brics["capital"])

      capital
BR   Brasilia
RU     Moscow
IN  New Dehli
CH    Beijing
SA   Pretoria

In [0]:
#a double bracket will output a Pandas DataFrame.
print(brics[["capital","area"]])

      capital    area
BR   Brasilia   8.516
RU     Moscow  17.100
IN  New Dehli   3.286
CH    Beijing   9.597
SA   Pretoria   1.221

In [0]:
#Square brackets can also be used to access observations (rows) from a DataFrame.
print(brics[1:3])#return dataFrame

#loc is label-based---------- means that you have to specify rows and columns based on their row and column labels
# print(brics[["RU","IN"]])<----------error?
print(brics.loc[["RU"]])

#iloc is integer index based, so you have to specify rows and columns by their integer index
print(brics.iloc[1])

              area    capital  population
RU  Russia  17.100     Moscow       143.5
IN   India   3.286  New Dehli      1252.0
            area capital  population
RU  Russia  17.1  Moscow       143.5
              Russia
area            17.1
capital       Moscow
population     143.5
Name: RU, dtype: object